<%= form_for(profile_log) do |f| %>
  <% if profile_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_log.errors.count, "error") %> prohibited this profile_log from being saved:</h2>

      <ul>
      <% profile_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
