<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile_log.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @profile_log.path %>
</p>

<%= link_to 'Edit', edit_profile_log_path(@profile_log) %> |
<%= link_to 'Back', profile_logs_path %>
